.back-to-live {
  background: #1E1E1E;
  display: inline-block;
  position: fixed;
  right: 2.5%;
  bottom: 4%;
  height: 50px;
  width: 150px;
  border-radius: 4px;
}
.back-to-live img {
  vertical-align: middle;
  margin: 10px 10px;
}
.back-to-live p {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: white;
}
